<h1>ログインページ</h1>

<%= form_with url: '/top/login', method: :post, local: true do |f| %>
  <p>
    <%= f.label :uid, 'ユーザーID' %><br>
    <%= f.text_field :uid %>
  </p>
  <p>
    <%= f.label :pass, 'パスワード' %><br>
    <%= f.password_field :pass %>
  </p>
  <%= f.submit 'ログイン' %>
<% end %>
